<!--  Documentation:
[[
  background='anyBackgroundColor'
  size='md'  // sm - 30px, md - 50px, lg - 70px,
  text='anyText'
]]  -->

<div class = "appex-preset-button preset-button preset-button_{{ size }}"
     id = "{{ id }}"
     style = "background-color: {{ background }}">

    {{ text }}

</div>

<script>
class {{ name }}Class extends EventEmitter {
    #button;
	constructor(id) {
        super();
    	this.#button = document.getElementById(id);
    }

    init() {
    	this.#button.addEventListener('click', e => {
        	this.emit('click');
        });
    }
}
{{ name }} = new {{ name }}Class("{{ id }}");
{{ name }}.init();
</script>
