<!--  Documentation:
[[Button
  name="btn"  // class name
  background="#fff"
  text="anyText"
]]  -->

<div class = "appex-preset-button preset-button preset-button_{{ size }}"
     id = "{{ id }}">

    {{ text }}

</div>

<style>
#{{ id }} {
    background-color: {{ color }};
}
</style>

<script>
class {{ name }}Class extends EventEmitter {
    #button;
	constructor(id) {
        super();
    	this.#button = document.getElementById(id);
    }

    init() {
    	this.#button.addEventListener('click', e => {
        	this.emit('click');
        });
    }
}
{{ name }} = new {{ name }}Class("{{ id }}");
{{ name }}.init();
</script>
