<!--  Documentation:
[[Switch
  name="sw"  // class name
]]  -->

<label class="appex-preset-switch" id="{{ id }}">
    <input type="checkbox" class="appex-preset-switch__input">
    <div class="appex-preset-switch__handle"></div>
</label>

<style>
#{{ id }} {
  display: block;
  width: 60px;
  height: 34px;
  margin: 10px;
  border-radius: 17px;
}

#{{ id }} .appex-preset-switch__input {
  display: none;
}

#{{ id }} .appex-preset-switch__handle {
  width: 60px;
  height: 34px;
  background: #ccc;
  border-radius: 17px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .12s;
}

#{{ id }} .appex-preset-switch__handle:after {
  content: '';
  position: absolute;
  cursor: pointer;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background: white;
  box-shadow: 0 0 4px rgba(0, 0, 0, .2);
  margin-left: -26px;
  transition: .12s;
}

#{{ id }} .appex-preset-switch__input:checked + .appex-preset-switch__handle {
  background: {{ color }};
}

#{{ id }} .appex-preset-switch__input:checked + .appex-preset-switch__handle:after {
  margin-left: 0;
  margin-right: -26px;
}
</style>

<script>
class {{ name }}Class extends EventEmitter {
    #input;
	constructor(id) {
        super();
    	this.#input = document.querySelector(`#${id} input`);
    }

    init() {
    	this.#input.addEventListener('change', e => {
        	this.emit('click', this.#input.checked);
        });
    }

    get value() { return this.#input.checked; }
    set value(val) {
        if (typeof val === 'boolean') this.#input.checked = val;
        else console.error('type error in switch {{ id }}');
    }
}
{{ name }} = new {{ name }}Class("{{ id }}");
{{ name }}.init();
</script>
